.venv/
__pycache__/
.pytest_cache/
.idea
.venv
runtest/
format/
lint/
notes*
.tmp/
src/torpedo/.DS_Store
src/.DS_Store
.DS_Store
torpedo_algorithm/split0.py
torpedo_algorithm/split0.txt
torpedo_algorithm/split1.py
torpedo_algorithm/split1.txt
torpedo_algorithm/split2.py
torpedo_algorithm/split2.txt
torpedo_algorithm/split3.py
torpedo_algorithm/split3.txt
torpedo_algorithm/split4.py
torpedo_algorithm/split4.txt
torpedo_algorithm/split5.py
torpedo_algorithm/split5.txt
torpedo_algorithm/split6.py
torpedo_algorithm/split6.txt
torpedo_algorithm/splitter.py
