body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1, h2 {
    margin-bottom: 20px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#job-submission label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#job-submission input[type="number"],
#job-submission input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#job-submission button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#job-submission button[type="submit"]:hover {
    background-color: #0056b3;
}

.checkbox-container {
    margin-bottom: 15px;
}

.checkbox-container label {
    display: inline;
    margin-left: 5px;
}

#job-submission input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 5px;
}

#job-submission input[type="file"]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

#job-submission label.disabled {
    color: #999;
}

.auth-view {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
